<h2>LOGIN</h2>
<div id="login-form">
  <form action="/auth/login" method="POST">
    <p>Sign up or log in if you want to add a character in your favorites!</p>

    <label>
      Name:
      <input
        class="input-height"
        type="text"
        name="username"
        placeholder="Your username"
      />
    </label>

    {{! <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label> }}

    <label>
      Password:
      <input
        class="input-height"
        type="password"
        name="password"
        placeholder="Your password"
      />
    </label>

    <button class="form-btn" type="submit">LOGIN</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>