<h2>SIGN UP</h2>
<form action="/auth/signup" method="POST" enctype="multipart/form-data">

  <label> Username</label>
  <input
    class="input-height"
    type="text"
    name="username"
    placeholder="Your username"
  />

  <label> Email</label>
  <input
    class="input-height"
    type="email"
    name="email"
    placeholder="Your email"
  />

  <label> Password</label>
  <input
    class="input-height"
    type="password"
    name="password"
    placeholder="Your password"
  />

  <label for="picture">Picture</label>
  <input class="input-height" type="file" name="picture" />

  <button type="submit">SIGN UP</button>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>