<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav id="navbar">
      <ul id="nav-list">
        <li><a href="/">HOME PAGE</a></li>
        {{#if isLoggedIn}}
          <li><a href="/profile">MY PROFILE</a></li>
          <li><a href="/profile/favorites">FAVORITE SUPERHEROES</a></li>
          <li><a href="/auth/logout">LOGOUT</a></li>
        {{else}}
          <li><a href="/auth/signup">SIGN UP</a></li>
          <li><a href="/auth/login">LOGIN</a></li>
        {{/if}}
      </ul>

      <form id="nav-search" action="/search" method="get">
        <label for="search"><img
            src="/images/icon-search.png"
            alt="magnifying glass"
          /></label>
        <input
          class="input-height"
          type="search"
          name="superheroes"
          placeholder="Which SuperHero?"
          id="search"
        />
        <button id="searchBtn">SEARCH</button>
      </form>

    </nav>

    <div class="container">

      {{{body}}}
      <footer><p id="credit-marvel">Data provided by Marvel. © 2022 Marvel</p></footer>
      <script src="/js/script.js"></script>
    </div>
  </body>

</html>