<h2>ERROR</h2>

<picture class=".not-found">
  <img src="/images/404_marvel.png" alt="Error 404, page not found" />
</picture>
{{! <h2>This route does not exist on the app! Check if everything is ok! Check your routes to see what might have happened
</h2> }}